
{% extends "base" %}

{% block content  %}

    <form method="POST" action="{{ url('/login') }}">

        {% if errors.has('email') %}
            {{ errors.first('email') }}
        {% endif %}
        <label for="email">Email</label>
        <input id="email" type="email" name="email" value="{{ old('email') }}">
        <br/>

        {% if errors.has('password') %}
            {{ errors.first('password') }}
        {% endif %}
        <label for="password">Password</label>
        <input id="password" type="password" name="password">
        <br/>

        <label>
            <input type="checkbox" name="remember"> Remember Me
        </label>
        <br/>

        <button type="submit">
            Login
        </button>
        <br/>

        <a href="{{ url('/password/reset') }}">Forgot Your Password?</a>
        <br/>
        <a href="{{ url('/register') }}">Register</a>

    </form>

{% endblock %}