
{% extends "base" %}

{% block content  %}
    
    <form method="POST" action="{{ url('/register') }}">

        {% if errors.has('first_name') %}
            {{ errors.first('first_name') }}
        {% endif %}
        <label for="first_name">First name</label>
        <input id="first_name" type="text" name="first_name" value="{{ old('first_name') }}">
        <br/>

        {% if errors.has('last_name') %}
            {{ errors.first('last_name') }}
        {% endif %}
        <label for="last_name">Last name</label>
        <input id="last_name" type="text" name="last_name" value="{{ old('last_name') }}">
        <br/>

        {% if errors.has('email') %}
            {{ errors.first('email') }}
        {% endif %}
        <label for="email">Email</label>
        <input id="email" type="email" name="email" value="{{ old('email') }}">
        <br/>

        {% if errors.has('password') %}
            {{ errors.first('password') }}
        {% endif %}
        <label for="password">Password</label>
        <input id="password" type="password" name="password">
        <br/>

        {% if errors.has('password_confirmation') %}
            {{ errors.first('password_confirmation') }}
        {% endif %}
        <label for="password_confirmation">Confirm Password</label>
        <input id="password_confirmation" type="password" name="password_confirmation">
        <br/>

        <button type="submit">
            Register
        </button>
        <br/>

        <a href="{{ url('/password/reset') }}">Forgot Your Password?</a>

    </form>
    
{% endblock %}