<!DOCTYPE html>
<html>
    <head>
        <title itemprop="name" itemprop="brand">Test</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!------------------------------>
        <!--       HEADER BLOCK       -->
        <!------------------------------>
        
        <a href="{{ url('/login') }}">Login</a>
        <a href="{{ url('/register') }}">Register</a>
        <a href="{{ url('/password/reset') }}">Reset Password</a>
        <br/><br/><br/>
        
        {% if not auth_guest() %}

            Successfuly loged! Hi {{ Auth.user().name }}
            <br/>
            <a href="{{ url('/logout') }}">Logout</a>

        {% endif %}
        
        {% block content %}{% endblock %}
        
    </body>
</html>
