{% extends "base" %}

{% block content  %}
    
    {% if session('status') %}
        {{ session('status') }}
    {% endif %}

    <form method="POST" action="{{ url('/password/email') }}">

        {% if errors.has('email') %}
            {{ errors.first('email') }}
        {% endif %}
        <label for="email">Email</label>
        <input id="email" type="email" name="email" value="{{ old('email') }}">
        <br/>

        <button type="submit">
            Reset
        </button>
        <br/>

    </form>

{% endblock %}